body{
    background-color: #FFFFD0 !important;
}

h1{
    color: yellow;
}

footer{
    background-color:  #FFFFD0 !important;
}

.logo{
    max-height: 6em;
    max-height: 6em;
}

.score{
    max-height: 2em;
    max-height: 2em;
}